.Rproj.user
.Rproj.user
.Rhistory
.RData
*.pdf
*.aux
*.log
*~
*.dll
*.o
*.so
*.aux
*.log
*chunk*
inst/doc
*.rds

vignettes/*.html
vignettes/*.R
vignettes/yeyeForBeauSep19.R
vignettes/MEE_reproduce_2.Rmd

data-raw/herring-predators-HG/
/data-raw/Non-Pacific halibut data.xlsx
